{% extends "base.html" %}

{% block title %}Par mums{% endblock %}

{% block content %}
<h1>Par mums</h1>
<div class="about_text">
    <p>Jelgavas Kultūras Ceļvedis ir mājaslapa, kas palīdz vienkārši un pārskatāmi atrast informāciju par pasākumiem Jelgavā.</p>
    <p>Šajā mājaslapā var apskatīt gaidāmos kultūras, pilsētas, sporta un ģimenes pasākumus, kā arī uzzināt to norises vietu, datumu, organizatoru un kategoriju.</p>
    <p>Šo mājas lapu veidoja Reinis Smilga no Jelgavas Valsts ģimnāzijas, 12.M klases</p>
</div>
{% endblock %}