{% extends "base.html" %}

{% block title %}Pasākumi{% endblock %}

{% block content %}
<h1>Pasākumi Jelgavā</h1>

<a href="/pasakumi/new/edit" class="button">Izveidot pasākumu</a><br><br>

<div class="events">
    {% for event in events %}
    <div class="event_card">
        <h2>{{ event["title"] }}</h2>
        <p><strong>Datums:</strong> {{ event["event_date"] }}</p>
        <p><strong>Vieta:</strong> {{ event["location"] }}</p>
        <p><strong>Kategorija:</strong> {{ event["category_name"] }} / {{ event["subcategory_name"] }}</p>

        <a href="/pasakumi/{{ event['id'] }}" class="button">Uzzināt vairāk</a>

        <button class="dev_toggle" onclick="this.nextElementSibling.classList.toggle('show')">⚙</button>

        <div class="setting">
            <a href="/pasakumi/{{ event['id'] }}/edit" class="button">Labot</a>

            <form action="/pasakumi/{{ event['id'] }}/delete" method="POST">
                <button type="submit" class="button">Dzēst</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}